<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjRz5PrYzzP56L8tYjvACtf-WZB9kho48</string>
	<key>GCM_SENDER_ID</key>
	<string>1071606818456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wizmea.chapchapApp</string>
	<key>PROJECT_ID</key>
	<string>transfert-chapchap-inc</string>
	<key>STORAGE_BUCKET</key>
	<string>transfert-chapchap-inc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071606818456:ios:ca52f8b2223e8d4ac552ed</string>
</dict>
</plist>